/* Underline styles */
.heading {
  display: block;
  position: relative;
  margin: 0.2rem auto;
  width: 100%;
  padding: 0.2em 0;
  text-align: center;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  margin-top: 40px;
}

/* Fade in */
.heading::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 42.5%;
  width: 15%;
  height: 0.1em;
  background-color: black;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

.heading:hover::after,
.heading:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

.heading::after {
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}

.heading:hover::after,
.heading:focus::after {
  transform: scale(1);
}

.sponsor-box {
  margin: 50px;
  display: "inline-block";
}
.sponsor-image {
  width: 100px;
  height: 100px;
}
@media only screen and (max-width: 768px) {
  .sponsor-box {
    margin: 25px;
    display: "inline-block";
  }
  .sponsor-image {
    width: 70px;
    height: 70px;
  }
  .heading {
    width: 50%;
  }
}
