@tailwind base;
@tailwind components;
@tailwind utilities;

.section-style {
  height: fit-content;
  background-image: url('/public/images/yellow-bg.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  padding: 2rem;
}

/* Underline styles */
.heading {
  display: block;
  position: relative;
  margin: 0.2rem auto;
  width: 100%;
  padding: 0.2em 0;
  text-align: center;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 15px;
}

/* Fade in */
.heading::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 42.5%;
  width: 15%;
  height: 0.1em;
  background-color: var(--color-primary-default); /* Primary color */
  opacity: 0;
  transition:
    opacity 300ms,
    transform 300ms;
}

.heading:hover::after,
.heading:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

.heading::after {
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}

.heading:hover::after,
.heading:focus::after {
  transform: scale(1);
}
